*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.bg-highlight {
    background-color: #F72210;
}

.text-highlight {
    color: #F72210;
}

.text-black {
    color: black;
}

.bg-black {
    background-color: black;
}

img.nav-item {
    width: 8.5em;
}

div.nav-item {
    font-size: 0.8em;
}

button.nav-button {
    font-size: 0.9em;
    border-radius: 20px;
    background-color: #ffe400;
}

i.fa-user,
i.fa-bars {
    font-size: 1.5em;
}

div.card,
img.img-fluid {
    border-radius: 0;
    border: none;
}

.article-img-link {
    position: relative;
}

.article-img-link > span {
    position: absolute;
    bottom: 0;
    left: 0;
    /* color: #F72210; */
    background-color: rgba(255, 255, 255, 0.9);
    padding: 8px 15px;
}

main.container-fluid {
    background-color: #F4F5F7;
}

.card-title > a:hover {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid red;
}

.debate-article-div{
    position: relative;
}

.opinion-div {
    display: grid;
    grid-template-columns: 4em 1fr;
    gap: 1em;
}

.pink-border {
    border-top: 5px solid #F92859;
    position: relative;
    align-items: center;
}

.blue-border {
    grid-template-columns: 1fr 4em;
    border-bottom: 5px solid #1C87FB;
    margin-top: 1px;
    align-items: center;
}

.debate-img {
    width: 4em;
    height: auto;
}

a.debate-span:hover {
    text-decoration: none;
    color: #F92859;
}

a.debate-span:hover > span {
    color: black;
}

.vs-span {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.article-img-link > span.text-dark {
    background-color: #C2D4D7;
    font-size: 0.8em;
}

div.sign-div {
    max-width: 320px;
}

div.sign-div  img {
    width: 3.8em;
    height: auto;
}

input.form-control::placeholder {
    color: rgba(30, 30, 30, 0.3);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
}