*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.highlight {
    background-color: #F72210;
}

img.nav-item {
    width: 8.5em;
}

div.nav-item {
    font-size: 0.8em;
}

button.nav-button {
    font-weight: bolder;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.9em;
    border-radius: 20px;
    background-color: #ffe400;
}

i.fa-user,
i.fa-bars {
    font-size: 1.5em;
}

h6.text-muted {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

div.card,
img.img-fluid {
    border-radius: 0;
    border: none;
}

.article-img-link {
    position: relative;
}

.article-img-link > span {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #F72210;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 8px 15px;
    font-weight: bold;
}

main.container-fluid {
    background-color: #F4F5F7;
}

.card-title {
    font-weight: bold;
    display: inline;
}

.card-title > a {
    color: black;
}

.card-title > a:hover {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid red;
}

.debate-article-div{
    position: relative;
}

.opinion-div {
    display: grid;
    grid-template-columns: 4em 1fr;
    gap: 1em;
    /* align-items: center; */
}

.pink-border {
    border-top: 5px solid #F92859;
    position: relative;
    align-items: center;
}

.blue-border {
    grid-template-columns: 1fr 4em;
    border-bottom: 5px solid #1C87FB;
    margin-top: 1px;
    align-items: center;
}

.debate-img {
    width: 4em;
    height: auto;
}

.debate-span {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: black;
}

.vs-span {
    background-color: black;
    font-weight: bold;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}